@import "~bootstrap/scss/bootstrap";
@import "partials/colors";

body {
    background-color: $dark-blue;
}

.ubuntu {
    font-family: "Ubuntu", sans-serif;
}

main {
    margin: 100px 0;

    h1 {
        color: $light-blue;
        font-size: 45px;
    }

    .ms_card {
        background-color: $light-blue;
    }
    .ms_img {
        height: 200px;
        object-fit: cover;
        object-position: bottom;
    }
}
