@import "~bootstrap/scss/bootstrap";
@import "partials/colors";

body {
    background-color: #061123;
}

main {
    margin: 100px 0;

    h1 {
        color: $light-blue;
    }

    .ms_card {
        background-color: $light-blue;
    }
    .ms_img {
        height: 200px;
        object-fit: cover;
        object-position: bottom;
    }
}
